* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

html {
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --gray-dark: #4D5E77;
    --gray-blue: #A1B2CD;
    --gray-medium: #D3D9E2;
    --gray-light: #E5EAF1;

    --hover-blue: #5699FF;
    --hover-red: #EA4B65;
    --hover-gray: #8794A7;



    font-size: 62.5%;
}

body{
    height: 100vh;
    background: var(--background);
}

body, button, input, textarea{
    /* intervalo de tamanho */
    font-size: clamp(14px, 1.6rem, 2vw);

    font-family: ;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */